/*estilos para colores*/
.colores {
    color: red;
}
.color-exadecimal {
    color: #16bac5
}
.color-rgb {
    color: rgb(132, 41, 223)
}
.color-rgba {
    color: rgba(168, 46, 60, 0.601)
}
/* FONDO */
.fondo {
    /*background-color: aqua;*/
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4y72iEXY0XkPPCBRsaJQBGzq_9l3yYFM-w87KgVY2sg&s");
    background-position: top center;
}
/* Tamaños */
.ancho {
    background-color: aquamarine;
    width: 100px;
}
.alto {
    background-color: blueviolet;
    height: 150px;
    width: 150px;
}
.tarjeta {
    border-style: solid;
    border-color: rgb(150,150,150);
    border-width: 1px;
    padding: 10px 20px;
    margin: 10px;

}